.product-title {
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.product-desc {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  align-items: center;
  text-align: center;
}

.features-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.features-heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
  text-transform: uppercase;
}

.features-desc {
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
}

.slogan-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.btn {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  align-items: center;
  text-align: center;
}

.social-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
}
